@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

#card-body {
    display: none;
}

.card:hover {
    display: block;
}
